@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "protest";
  src: url("https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap");
}
@font-face {
  font-family: "Poppins";
  src: url("../public/Sniglet-Regular.ttf");
}
.App {
  text-align: center;
  position: absolute;
  z-index: 40;
}
html {
  --cursor-color: #2F1831
}

html.dark {
  --cursor-color: #92C5FD
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0e0e13;
}
.contact-animation{
  animation: bounce 1.5s infinite;
}


@keyframes bounce {
  0%, 100% {
    transform: translateY(-7%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
